  @import "partials/media-queries";

  @font-face {
    font-family: HelveticaNeue;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(https://emeraldstay.com/assets/fonts/Anton/Anton-Regular.woff2) format("woff2"),
    url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue-Light.woff) format("woff"),
    url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue-Light.ttf) format("truetype")
  }

  @font-face {
    font-family: HelveticaNeue;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue.woff2) format("woff2"),
    url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue.woff) format("woff"),
    url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue.ttf) format("truetype")
  }

  @font-face {
    font-family: HelveticaNeue;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.woff2) format("woff2"),
    url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.woff) format("woff"),
    url(https://emeraldstay.com/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf) format("truetype")
  }

  @font-face {
    font-family: Anton;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(https://emeraldstay.com/assets/fonts/Anton/Anton-Regular.woff2) format("woff2"),
    url(https://emeraldstay.com/assets/fonts/Anton/Anton-Regular.woff) format("woff"),
    url(https://emeraldstay.com/assets/fonts/Anton/Anton-Regular.ttf) format("truetype")
  }

  @font-face {
    font-family: FuturaCondensed;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(https://emeraldstay.com/assets/fonts/FuturaCondensed/FuturaCondMedium.woff2) format("woff2"),
    url(https://emeraldstay.com/assets/fonts/FuturaCondensed/FuturaCondMedium.woff) format("woff"),
    url(https://emeraldstay.com/assets/fonts/FuturaCondensed/FuturaCondMedium.ttf) format("truetype")
  }

  @font-face {
    font-family: FuturaCondensed;
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(https://emeraldstay.com/assets/fonts/FuturaCondensed/Futura-CondensedExtraBold.woff2) format("woff2"),
    url(https://emeraldstay.com/assets/fonts/FuturaCondensed/Futura-CondensedExtraBold.woff) format("woff"),
    url(https://emeraldstay.com/assets/fonts/FuturaCondensed/Futura-CondensedExtraBold.ttf) format("truetype")
  }


  /* ==========================================================================
  Main Styles
  ========================================================================== */

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    font-family: Anton, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;
    /* Font smoothing tweaks for MacOSx in Gecko */
    -webkit-font-smoothing: antialiased;

    color: #444A59;
    background-color: #f8f8f8;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-family: Anton, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
  }

  p,
  figure {
    margin: 0;
    font-weight: normal;
  }

  a,
  a:hover,
  a:visited {
    text-decoration: none;
    color: #444A59;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  button {
    appearance: none;
    border: 0;
  }

  .container {
    width: 100%;
    max-width: 1240px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .flex{
    display: flex;
  }

  .flex.row{
    flex-direction: row;
  }

  .flex-col{
    flex-direction: column;
  }
  /* ==========================================================================
   Buttons
   ========================================================================== */

  .icon {
    width: 20px;
    height: 20px;
    fill: #d9d9d9;
    transition: .3s fill;
  }

  .button {
    max-width: 150px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    outline: none;

    cursor: pointer;
    transition: .3s border, .3s color, .3s background-color;
  }

  .button--round {
    display: block;
    border-radius: 50%;
  }

  .button--primary {
    font-family: Anton,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 0px 13px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .button--primary:hover {
    border: 1px solid black;
    color: black;
    background-color: #ffdf2d;
  }

  .button--topPicks:hover {
    border: 1px solid black;
  }

  .button--topPicks:hover>.icon {
    fill: #444A59;
  }

  /* ==========================================================================
   Header
   ========================================================================== */

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-title {
    font-size: 20px;
  }


  /* ==========================================================================
   TopPicks
   ========================================================================== */

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .item {
    height: 25px;

    display: flex;
    align-items: flex-end;

    img {
      position: relative;
      display: inline-block;
    }

    .icon {
      height: auto;
      fill: #444A59;
    }

    img:hover {
      cursor: pointer;
    }   
  }

   .topPicks-count {
     margin-left: 10px;
   }


  .topPicks__item-counter {
    width: 13px;
    height: 13px;
    margin-left: -1px;

    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;

    font-family: 'Lato-Bold', sans-serif;
    font-size: 8px;
    text-align: center;

    border-radius: 50%;
    color: black;
    background-color: #ffdf2d;
  }


  /* ==========================================================================
   Property List
   ========================================================================== */

  .property-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media #{$md-up} {
      flex-direction: row;
      flex: 0 1 auto;
      flex-flow: row wrap;
      margin: 0 -10px;
    }
  }

  .property-list__item {
    padding-top: 20px;

    @media #{$md-up} {
      max-width: 50%;
      padding: 10px;
    }

    @media #{$lg-up} {
      padding: 10px;
      flex: 1 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  /* ==========================================================================
   Property
   ========================================================================== */

  .property {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
  }

  /* ==========================================================================
   Property Image
   ========================================================================== */

  .image-wrapper {
    position: relative;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .each-slide {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;

    img{
      max-width: 100%;
      max-height: 300px;
    }
  }


  /* ==========================================================================
   Product Details
   ========================================================================== */

  .details {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 0px 20px 20px 20px;

    span {
      font-weight: bold;
    }

    h1{
      margin-bottom:0px;
    }

    p{
      margin-bottom:1px;
      font-family: Helvetica, Arial, sans-serif;
    }

    .rooms{
      margin-top: 10px;
    }

    .rooms_book{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: Helvetica, Arial, sans-serif;
    }
  }

  /* ==========================================================================
   Product actions
   ========================================================================== */

  .topPicks-button {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 10px;
  }