  @import "partials/media-queries";

  /* ==========================================================================
  Main Styles
  ========================================================================== */

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    font-family: Anton, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;
    /* Font smoothing tweaks for MacOSx in Gecko */
    -webkit-font-smoothing: antialiased;

    color: #444A59;
    background-color: #f8f8f8;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-family: Anton, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
  }

  p,
  figure {
    margin: 0;
    font-weight: normal;
  }

  a,
  a:hover,
  a:visited {
    text-decoration: none;
    color: #444A59;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  button {
    appearance: none;
    border: 0;
  }

  .container {
    width: 100%;
    max-width: 1240px;
    padding: 0 40px;
    margin: 0 auto;
  }

  /* ==========================================================================
   Buttons
   ========================================================================== */

  .icon {
    width: 20px;
    height: 20px;
    fill: #d9d9d9;
    transition: .3s fill;
  }

  .button {
    max-width: 150px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    outline: none;

    cursor: pointer;
    transition: .3s border, .3s color, .3s background-color;
  }

  .button--round {
    display: block;
    border-radius: 50%;
  }

  .button--primary {
    padding: 13px;

    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.39px;
  }

  .button--primary:hover {
    border: 1px solid black;
    color: black;
    background-color: #ffdf2d;
  }

  .button--topPicks:hover {
    border: 1px solid #444A59;
  }

  .button--topPicks:hover>.icon {
    fill: #444A59;
  }


  /* ==========================================================================
   Property List
   ========================================================================== */

  .property-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media #{$md-up} {
      flex-direction: row;
      flex: 0 1 auto;
      flex-flow: row wrap;
      margin: 0 -10px;
    }
  }

  .property-list__item {
    padding-top: 20px;

    @media #{$md-up} {
      max-width: 50%;
      padding: 10px;
    }

    @media #{$lg-up} {
      padding: 10px;
      flex: 1 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  /* ==========================================================================
   Property
   ========================================================================== */

  .property {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: #ffffff;
  }

  /* ==========================================================================
   Property Image
   ========================================================================== */

  .image-wrapper {
    position: relative;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .each-slide {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    img{
      
      max-width: 100%;
      max-height: 300px;
    }
  }


  /* ==========================================================================
   Product Details
   ========================================================================== */

  .details {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    span {
      font-weight: bold;
    }
  }

  /* ==========================================================================
   Product actions
   ========================================================================== */

  .topPicks-button {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 10px;
  }